@use "../abstracts" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  // background-color: white;
  font-family: $roboto;
}

p {
  margin-bottom: 1.3em;
  color: $black;
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.414em 0 0.5em;
  line-height: 1.65;
  text-transform: uppercase;
  font-family: $roboto;
  @media (max-width: $breakpoint-tablet) {
    line-height: 1.4em;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  @media (max-width: $breakpoint-tablet) {
    font-size: 3em;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 2.4em;
  }
}
h2 {
  font-size: 2.827em;
  @media (max-width: $breakpoint-tablet) {
    font-size: 2.2em;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 1.6em;
  }
}
h3 {
  font-size: 1.999em;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1.3em;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 1.2em;
  }
}
h4 {
  font-size: 1.414em;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1.2em;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 1em;
  }
}
h5 {
  font-size: 1.214em;
  @media (max-width: $breakpoint-tablet) {
    font-size: 1em;
  }
}

blockquote {
  font-weight: 100;
  font-style: italic;
  font-size: 1em;
  position: relative;
  line-height: 1.3em;
  border-left: 4px solid $primary;
  padding: 10px 0 10px 20px;
  margin: 20px 0;
  color: $black;
}
cite {
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
}

// li {
//   color: $black;
//   list-style: inherit;
//   margin-bottom: 0.5em;
//   line-height: 2em;
//   list-style-position: outside;
//   margin-left: 20px;
//   padding-left: 5px;
//   text-align: left;
// }
em {
  font-family: $roboto;
}
strong {
  font-family: $roboto;
}

a {
  text-decoration: none;
}
