$primary: hsla(35, 100%, 50%, 1);
$primary--light: hsla(35, 100%, 70%, 1);
$primary--dark: hsla(35, 100%, 25%, 1);
$black: hsla(0, 0%, 0%, 1);
$white: hsla(255, 100%, 100%, 1);
$grey: hsla(0, 0%, 84%, 1);
$darkgrey: hsla(0, 0%, 52%, 1);
$error: hsla(0, 57%, 48%, 1);
