@use "../abstracts" as *;

.navbar {
  $root: &;
  $navbar-height: 3em;
  $border-bottom-size: 0.2em;

  z-index: 100;
  padding: 1em 1em 0 1em;

  color: $white;
  position: fixed;
  width: 100%;
  transition-property: background-color, border-bottom, backdrop-filter, padding,
    transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  background-color: transparent;
  border-bottom: $border-bottom-size solid transparent;
  backdrop-filter: none;

  @include breakpoint-tablet {
    padding: 1em 5em 0 5em;
  }

  @include breakpoint-desktop {
    padding: 1em 10em 0 10em;
  }

  &--not-top {
    background-color: hsla(0, 0%, 0%, 75%);
    backdrop-filter: blur(6px);
    border-bottom: $border-bottom-size solid $white;

    padding: 0 1em;

    @include breakpoint-tablet {
      padding: 0 5em;
    }

    @include breakpoint-desktop {
      padding: 0 10em;
    }
  }

  &--hidden {
    transform: translateY(-(calc($navbar-height + $border-bottom-size)));

    #{$root}__mobile-wrapper {
      margin: calc($navbar-height + $border-bottom-size) 0 0 0;
    }
  }

  &__container {
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    opacity: 0;
    width: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    @include breakpoint-tablet {
      width: auto;
      opacity: 1;
      visibility: initial;
    }
  }

  &__menu-item,
  &__mobile-menu-item {
    padding: 0 0.5em;

    &--resume {
      a {
        border: 0.1em solid $white;
        border-radius: 0.5em;
        padding: 0 0.5em;

        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
  &__menu-item:not(.navbar__menu-item--resume),
  &__mobile-menu-item:not(.navbar__mobile-menu-item--resume) {
    a {
      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        @include absolute(calc(100% - 0.2em), 0.1em, 0, 0);
        transition: width 0.3s ease;
        background-color: $white;
        width: 0%;
      }
    }
  }

  a {
    color: $white;
    font-size: 1.5em;
    position: relative;
  }

  &__home {
    a {
      font-weight: bold;
    }
  }

  &__mobile {
    @include breakpoint-tablet {
      display: none;
    }
  }

  &__mobile-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom left, black, 50%, grey 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease, margin 0.3s ease;

    &--visible {
      transform: translateX(0%);
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1.5rem;
      font-size: 0;
    }
  }

  &__mobile-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-menu-item {
    margin: 2rem;
  }

  .navbar__mobile-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 0;

    &--open {
      width: 2rem;
      height: 2rem;
      position: relative;
      margin-right: 0.5rem;

      &:hover {
        &::before,
        &::after {
          background-color: $primary;
        }
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: $white;
        width: 2rem;
        height: 0.2rem;
        transition: background-color 0.1s ease;
      }

      &::before {
        transform: translateY(0.5rem);
      }
      &::after {
        transform: translateY(1.2rem);
      }
    }

    &--close {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        background-color: $white;
        height: 3rem;
        width: 0.2rem;
        transition: background-color 0.1s ease;
      }
      &::before {
        transform: rotateZ(45deg);
      }
      &::after {
        transform: rotateZ(-45deg);
      }

      &:hover {
        &::before,
        &::after {
          background-color: $primary;
        }
      }
    }
  }
}
